.content {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding-left: 44%;
  padding-right: 25%;
  align-items: center;
}


.title {
  align-content: center;
  margin-right: auto;
}

.theme {
  align-items: center;
}